body {
  @include font-smoothing;
  color: $cPrimary;
  font-family: var(--font-montserrat);
  font-weight: 400;
  font-style: normal;
  font-size: $fsDefault;
  line-height: 1.5;
  background: #fff;
  direction: ltr;
  overflow-x: hidden;
}

.full-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden !important;
  width: 100vw;
  height: 100vh;
  background: $cPrimary;
}
