@value form as Form from "~components/ui/Form/Form.module.scss";
@value term as FormTerm from "~components/ui/Form/Form.module.scss";

.container {
	display: block;
	background: #fff;

	:global {
		.Form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: $gutter;

			@media #{$small-down} {
				grid-template-columns: 1fr;
			}

			button {
				grid-column: 1/-1;
				width: max-content;
				margin: 0 auto;

				@media #{$small-down} {
					width: 100%;
				}
			}

			.FormTerm {
				text-align: center;
				grid-column: 1/-1;
			}
		}
	}
}
